.primertexto{
    color:grey!important;
    text-align: right!important;
}
.primertitulo{

    text-align: right!important;

}
.tercer{
    background-color: gray!important;
    height:500px!important;

    width: 50%!important;
}
h1{
    color:white!important;
    font-family: 'Ubuntu Mono', monospace; 
    font-size: 30px!important;
    letter-spacing: 2px!important;
    font-weight: bold!important;


}
h2{
    font-family: 'Ubuntu Mono', monospace; 
    font-size: 30px!important;


    
}
table{
    color:white;
    font-family: 'Ubuntu Mono', monospace; 
    font-size: 8px!important;
    text-align: center!important;
    letter-spacing: 2px!important;


}
.principio{
    font-weight: bold!important;
}
p{
    font-family: 'Ubuntu Mono', monospace; 


}

img{
    height: 400px!important;
}